<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 40px">
  <div id="{{domainObj.id}}" class="domainObjectRepresentation" *ngFor="let domainObj of domainObjectsMock" style="width: 350px; height: 300px; border: 1px solid black; overflow: auto;">
      <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div style="margin-bottom: 12px;"><strong>{{domainObj.text}}</strong></div>
        <div style="margin-bottom: 12px;">ID: {{domainObj.id}}</div>
        <div><strong>States:</strong></div>
        <div style="margin-bottom: 15px;" *ngFor="let propertyDefinition of domainObj.propertyDefinitions">
          <div>Property Name: <u>{{propertyDefinition.propertyName}}</u></div>
          <ejs-dropdownlist *ngIf="propertyDefinition.isPosition !== true" (change)="onSelectionChange($event, domainObj.id, domainObj.domainObjectType, propertyDefinition.propertyId, propertyDefinition.propertyName)"
            [dataSource]='getDropdownDatasourceFor(domainObj.domainObjectType, propertyDefinition.propertyId)'
            [fields]="fields"
            [value]="propertyDefinition.stateId"
            ></ejs-dropdownlist>
          <div *ngIf="propertyDefinition.isPosition === true" style="width: 160px">
            <input class="x-coordinate-input" style="width: 44px; display: inline;" [value]="propertyDefinition.position[0]" type="number"/>
            <input class="y-coordinate-input" style="width: 44px; display: inline;" [value]="propertyDefinition.position[1]" type="number"/>
            <input class="z-coordinate-input" style="width: 44px; display: inline;" [value]="propertyDefinition.position[2]" type="number"/>
            <button (click)="onPositionChange($event, domainObj.id, domainObj.domainObjectType)" style="display: block; width: 120px; margin: 10px auto;">Update Position</button>
          </div>
      </div>
  </div>
</div>

